/* ==========================================================================
   General
   ========================================================================== */

:root {
  --unit: calc(10px + 1vw);
  --two-units: calc(var(--unit) * 2);
  --three-units: calc(var(--unit) * 3);
  --four-units: calc(var(--unit) * 4);

  --border-color: gray;
}

body {
  margin: 0;
  font-size: calc(var(--unit) * 0.8);
}


/* ==========================================================================
   Header
   ========================================================================== */

.header {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.header__logo-box {
  width: calc(var(--unit) * 20);
  margin: var(--unit);
}

.header__logo {
  overflow: hidden;
  height: 0;
  padding-bottom: 31.2%;
  background-image: url('../images/logotype.svg');
}

/* ==========================================================================
   Main content
   ========================================================================== */

.main-content {
  margin: var(--unit);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: var(--unit);
}

/* ==========================================================================
   N-queens problem area
   ========================================================================== */

.queens-board-container {
  grid-column: span 2;
}

.queens-board {
  border: 1px solid var(--border-color);
  width: 100%;
  display: grid;
}

.queens-board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  position: relative;
}

.queens-board__cell::before {
  content: '';
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

.queens-board__cell[data-value='1']::after {
  content: '♕';
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================================
   Side information
   ========================================================================== */

.information-container {
  grid-column: span 2;
}

.information {

}

.information__text {
  margin: 0;
}
