/* ==========================================================================
   General
   ========================================================================== */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --half-unit: calc(var(--unit) / 2);
  --unit: calc(10px + 1vw);
  --two-units: calc(var(--unit) * 2);
  --three-units: calc(var(--unit) * 3);
  --four-units: calc(var(--unit) * 4);
  --grid-gap: var(--half-unit);

  --color-lightblue: #719DBD;
  --color-matt-dark-blue: #41516D;
  --color-dark-blue: #16254C;
  --color-very-dark-blue: #04152E;

  --theme-color-1: #ffffff;
  --theme-color-2: var(--color-lightblue);
  --theme-color-3: var(--color-matt-dark-blue);
  --theme-color-4: var(--color-dark-blue);
  --theme-color-5: var(--color-very-dark-blue);
}

@media
  (min-width: 0px)
  and
  (max-width: 968px) {
  :root {
    --unit: calc(20px);
  }
}

body {
  margin: 0;
  font-size: calc(var(--unit) * 0.8);
  font-family: Helvetica, 'sans-serif';
  color: var(--theme-color-1);
  background-color: var(--theme-color-4);
}


/* ==========================================================================
   15 column grid
   ========================================================================== */

.header-container__inner,
.title-container__inner,
.queens-container__inner,
.text-container__inner {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-column-gap: var(--grid-gap);
  width: calc(var(--unit) * 40);
  max-width: 100%;
}

/* Triangle behind the logotype */
.header-container__inner {
  position: relative;
  background-image: url('../images/triangle.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 90%;
  transition: background-size 2s;
}

@media (max-width: 754px) {
  .header-container__inner {
    background-size: var(--two-units);
  }
}

/* Witespace at the begining and/or the end of a layout section */
.header-container__inner::before,
.header-container__inner::after,
.queens-container__inner::before,
.queens-container__inner::after {
  content: '';
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.queens-container__inner::before,
.header-container__inner::before {
  grid-column-start: 15;
}

.queens-container__inner::after,
.header-container__inner::after {
  grid-column-start: 1;
}

@media (max-width: 754px) {
  .queens-container__inner::after {
    order: 6;
  }
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-container {
  background-color: var(--theme-color-1);
}

.header__logo-box {
  width: calc(var(--unit) * 20);
  grid-column-start: 2;
  grid-column-end: 10;
  /* Small visual adjustment */
  transform: scale(1.015);
}

.header__logo {
  overflow: hidden;
  height: 0;
  padding-bottom: 30.556%;
  background-image: url('../images/logotype-color.svg');
  background-repeat: no-repeat;
}

.header__introtext {
  color: var(--theme-color-5);
  grid-column-start: 5;
  grid-column-end: 12;
  position: absolute;
  top: 60%;
  font-size: 0.75em;
  margin: 0;
}

@media (max-width: 754px) {
  .header__logo-box {
    grid-column-start: 2;
    grid-column-end: 15;
    max-width: 80%;
    margin-bottom: var(--unit);
  }

  .header__introtext {
    position: relative;
    top: 0;
    grid-column-start: 2;
    grid-column-end: 11;
  }
}


/* ==========================================================================
   Title
   ========================================================================== */

.title-container {
  background-color: var(--theme-color-4);
}

.title {
  grid-column-start: 2;
  grid-column-end: 15;
  margin: calc(var(--unit) * 1.5) 0;
  font-size: 1.1em;
  letter-spacing: 0.01em;
}


/* ==========================================================================
  Main area
   ========================================================================== */

.queens-container {
  background-color: var(--theme-color-5);
}


/* ==========================================================================
   Controls
   ========================================================================== */

.queens-controls {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  margin-left: -1px;
  padding: var(--grid-gap);
  box-sizing: border-box;
  border: 1px dashed var(--theme-color-1);
  border-radius: 0 var(--grid-gap) var(--grid-gap) 0;
}

.queens-controls__inner {
  grid-column-start: 2;
  grid-column-end: 5;
}

.queens-controls__control-container {
  margin-bottom: var(--grid-gap);
}

.queens-controls__label {
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--grid-gap);
  align-items: center;
}

.queens-controls__control-container .queens-controls__label-text {
  font-family: monospace;
}

.queens-controls__input-legend {
  font-size: 0.58em;
  display: block;
  margin-bottom: calc(var(--grid-gap) / 2);
  font-weight: bold;
}

/*.queens-controls__label-text {}*/

.queens-controls__buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--grid-gap);
}

.queens-controls__submit-button,
.queens-controls__abort-button {
  width: 100%;
  display: block;
}

@media (max-width: 754px) {
  .queens-controls {
    order: 2;
    margin: var(--grid-gap) 0;
    border-radius: var(--grid-gap);
    grid-column-start: 2;
    grid-column-end: 15;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .queens-controls__inner {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}


/* ==========================================================================
   Queens controls arrow
   ========================================================================== */

.queens-controls-arrow {
  align-self: center;
  justify-self: center;
}

.queens-controls-arrow::before {
  content: '=>';
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 754px) {
  .queens-controls-arrow {
    order: 3;
    grid-column: span 15;
    transform: rotate(90deg);
    margin-bottom: var(--grid-gap);
  }
}


/* ==========================================================================
   N-queens problem area
   ========================================================================== */

.queens-problem-area {
  grid-column-start: 6;
  grid-column-end: 11;
}

.queens-board-container {
  position: relative;
}

.queens-board {
  width: 100%;
  display: grid;
}

.queens-board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.queens-board__cell[data-field_color='bright'] {
  background-color: var(--theme-color-2);
}

.queens-board__cell[data-field_color='dark'] {
  background-color: var(--theme-color-3);
}

/* makes the chess fields quadratic */
.queens-board__cell::before {
  content: '';
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

@keyframes set_queen_on_board_animation {
  0% {
    transform: translateY(-100%);
    opacity: 0.3;
    text-shadow: 5px 5px 5px black;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    text-shadow: 0px 0px 0px black;
  }
}

.queens-board__cell[data-value='1']::after {
  content: 'Q';
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.queens-board--animate .queens-board__cell--is-last-added-cell.queens-board__cell[data-value='1']::after {
  animation: 0.2s ease-in set_queen_on_board_animation;
}

.queens-board__cell[data-value='1'][data-field_color='dark'],
.queens-board__cell[data-value='1'][data-field_color='bright'] {
  background-color: var(--theme-color-4);
}

@media (max-width: 754px) {
  .queens-problem-area {
    order: 4;
    grid-column-start: 2;
    grid-column-end: 15;
    margin-bottom: var(--grid-gap);
  }

  .queens-board {
    width: 80%;
    margin: 0 auto;
  }
}


/* ==========================================================================
   Meta information (Step counter)
   ========================================================================== */

.queens-meta {
  position: absolute;
  top: 100%;
  margin-top: var(--grid-gap);
  font-size: 0.8em;
}

.queens-meta__step-count {
  margin: 0;
  font-size: 0.75em;
}

@media (max-width: 754px) {
  .queens-meta {
    position: relative;
  }
}


/* ==========================================================================
   Side information
   ========================================================================== */

.information-container {
  grid-column: span 5;
  font-size: 0.65em;
  line-height: 1.3em;
  display: grid;
  align-items: end;
}

.information {

}

.information__text {
  margin: 0;
}

@media (max-width: 815px) {
  .information-container {
    margin-right: var(--grid-gap);
  }
}

@media (max-width: 754px) {
  .information-container {
    order: 1;
    grid-column-start: 2;
    grid-column-end: 15;
    margin: var(--grid-gap) auto;
    width: 80%;
  }
}


/* ==========================================================================
   Text section
   ========================================================================== */

.text-container {
  background-color: var(--theme-color-4);
  padding-bottom: var(--two-units);
}

.text {
  grid-column-start: 2;
  grid-column-end: 9;
  margin-top: 0;
  font-size: 0.75em;
  line-height: 1.22em;
}

@media (max-width: 754px) {
  .text {
    grid-column-end: 12;
  }
}
